@function rem($px) {
  $result: $px / 16;
  @return #{$result}rem;
}
@function prc($el, $container){
  $result: $el / $container * 100%;
  @return #{$result};
}

$titleColor: #333;
$textColor: #777;
$footerTitleColor: #fff;
$titleFontSize: 1.625rem;
$textFontSize: 1rem;
$fontFamily: 'Merriweather', serif;

@mixin bg-banner {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}



